<br>
<br>
<br>
<div class="design">
<div class="card">
    <div class="header">
        <h4><strong style='padding-left: 20em'>Tipo de documento</strong> </h4>
    </div>
    <div class="body">
        <!-- <h2 class="card-inside-title">Nombre</h2> -->
        <div  class="form-group"><label><b>Descripción</b></label>
          <br><br>
            <div class="Bolder">
              <textarea class="form-control" rows="5"></textarea></div>
              </div>
            <!-- <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descripción</label>
                    <input type="text-area" class="form-control" placeholder="Nombre">
                </div>
            </div> -->

            <div> <b>Cuenta contable</b>
              <br>
              <br>
              <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-card"></i></span>
                  <input type="text" class="form-control credit-card" placeholder="Ex: 0000 0000 0000 0000">
              </div>
          </div>

            <!-- <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Cuenta Contable</label>
                    <input type="text" class="form-control" placeholder="Cuenta Contable">
                </div>
            </div> -->

        <fieldset style='padding-left: 83em'>
            <button type="button" class="btn btn-raised btn-success btn-round "><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
            <button type="button" class="btn btn-raised btn-danger btn-round "><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
        </fieldset>


    </div>
</div>
</div>


<!-- <div class="card">
    <div class="card-header">
        <h4 class="card-title" style="color:rgb(21, 31, 23)">Tipo Documento</h4>
    </div>
    <div class="card-body ">
        <form method="get" action="/" class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 control-label">Descripción</label>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Descripción" class="form-control">
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 control-label">Cuenta Contable</label>
                        <div class="col-sm-10">
                            <input type="password" placeholder="Cuenta Contable" name="password" class="form-control">
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="trans">
                  <button type="submit" class="btn btn-success btn-fill btn-wd ">Guardar</button>
                </div>
              </fieldset>
        </form>
    </div>

</div> -->
