<div class="card">
    <div class="card-header">
        <h4 class="card-title" style="color:rgb(21, 31, 23)">Tipo Documento</h4>
    </div>
    <div class="card-body ">
        <form method="get" action="/" class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 control-label">Descripción</label>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Descripción" class="form-control">
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 control-label">Cuenta Contable</label>
                        <div class="col-sm-10">
                            <input type="password" placeholder="Cuenta Contable" name="password" class="form-control">
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="trans">
                  <button type="submit" class="btn btn-success btn-fill btn-wd ">Guardar</button>
                </div>
              </fieldset>
        </form>
    </div>

</div>
