<nav class="navbar"  style="background-image:url(assets/img/s.jpg)">
    <ul class="nav navbar-nav navbar-left">
      <li>
          <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">

          </a>
      </li>
        <li>
            <div class="navbar-header" style='padding-left: 1em'>
                <a class="bars" ></a>
                <a class="navbar-brand"><img src="/assets/logo.png" width="50" alt="sQuare"><span style='padding-left: 1em'><b>Sistema de Cuenta por Cobrar</b></span></a>
            </div>
        </li>

        <li class="float-right">
            <a><span>Nombre del usuario</span></a>
            <a href="#/login" class="mega-menu"><i class="zmdi zmdi-power"></i></a>
        </li>
    </ul>
</nav>
