<div class="authentication sidebar-collapse">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
        <div class="container">
            <div class="navbar-translate n_logo">
                <a class="navbar-brand ">
                  <div class="center" style='padding-left: 15em'>

                   <b style="color:rgb(11, 148, 34)"> </b>
                  </div>
                </a>
                <button class="navbar-toggler" type="button">
                    <!-- <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span> -->
                </button>
            </div>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="page-header"  style="background-image:url(assets/img/cxc.jpg)">
        <div class="container">
            <div class="col-md-12 content-center">
                <div class="card-plain">
                    <form class="form">
                        <div class="header" >
                            <div class="logo-container expandUp">
                                <img src="/assets/logo.png" alt="" >
                            </div>
                            <h5>Log in</h5>
                        </div>
                        <div class="content">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter User Name">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-account-circle"></i>
                                </span>
                            </div>
                            <div class="input-group">
                                <input type="password" placeholder="Password" class="form-control" />
                                <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                            </div>
                        </div>
                        <div class="footer">
                            <a  class="btn btn-success btn-round btn-lg btn-block "[routerLink]="['/dashboard']">SIGN IN</a>
                            <h5><a class="link">Forgot Password?</a></h5>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    <span>Designed by <a style="color:rgb(246, 245, 248)">FULL HD COMPANY</a></span>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- Jquery Core Js -->
