<!-- <aside class="sidebar" style="background-image:url(assets/img/s.jpg)"> -->


  <aside class="sidebar" style="background: #ECECEC;">

    <div class="menu  ">
      <br>
      <br>
      <br>


        <div class="slimScrollDiv">
          <ul class="list" style="font-size:20px;">
            <li><a [routerLink]="['/dashboard']"><i class="zmdi zmdi-home" style="color: #000; font-size:25px"></i><span>Dashboard</span></a>
            </li>
            <br>
            <li style="color: #000;"><a [routerLink]="['/clientes']"><i class="fa fa-user-circle-o" aria-hidden="true" style="color: #000; font-size:25px"></i>  <span>Clientes</span></a>
            </li>
            <br>
            <li><a [routerLink]="['/tipoDocumentos']"><i class="fa fa-file-text" aria-hidden="true" style="color: #000; font-size:25px"></i>  <span>Tipos de Documentos</span></a>
            </li>
            <br>
            <li><a [routerLink]="['/transacciones']"><i class="fa fa-credit-card" aria-hidden="true" style="color: #000; font-size:25px"></i> <span>Transacciones</span></a>
            </li>
        </ul>
      <!-- <div class="slimScrollRail" style="width: 2px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(165, 55, 55); opacity: 0.2; z-index: 90; left: 1px;"></div> -->
    </div>
    </div>

</aside>


