<div class="card ">
  <div class="card-header ">
      <h4 class="card-title"  style="color:rgb(21, 31, 23)">Transacciones</h4>
  </div>
  <div class="card-body ">
      <form method="get" action="/" class="form-horizontal">
          <fieldset>
                  <div class="form-group">
                    <div class="row">
                      <label for="IDTipoDocumento"  class="col-sm-2 control-label">Tipo Documento </label>
                      <div class="col-sm-10">
                      <select class="form-control" id="IDTipoDocumento">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    </div>
                  </div>
                  <!-- <div class="row">
                      <label class="col-sm-2 control-label">Tipo Documento</label>
                      <div class="col-sm-10">
                          <input type="text" placeholder="Tipo Documento" class="form-control">
                      </div>
                  </div> -->
          </fieldset>
          <!-- <fieldset>
              <div class="form-group">
                  <div class="row">
                      <label class="col-sm-2 control-label">Tipo Documento </label>
                      <div class="col-sm-10">
                          <input type="password" placeholder="ID Tipo Documento" name="password" class="form-control">
                      </div>
                  </div>
              </div>
          </fieldset> -->
          <fieldset>
              <div class="form-group">
                  <div class="row">
                      <label class="col-sm-2 control-label">Numero Documento</label>
                      <div class="col-sm-10">
                          <input type="text" placeholder="Numero Documento" class="form-control">
                      </div>
                  </div>
              </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label">Fecha</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Fecha" class="form-control">
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <div class="row">
                  <label for="IDCliente"  class="col-sm-2 control-label">Cliente </label>
                  <div class="col-sm-10">
                  <select class="form-control" id="IDCliente">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                </div>
              </div>
      </fieldset>
      <fieldset>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 control-label">Monto</label>
                <div class="col-sm-10">
                    <input type="text" placeholder="Monto" class="form-control">
                </div>
            </div>
        </div>
    </fieldset>
          <fieldset>
            <div class="trans">
              <button type="submit" class="btn btn-success btn-fill btn-wd ">Guardar</button>
            </div>
          </fieldset>
      </form>
  </div>

</div>




