<br>
<br>
<br>
<div class="design">
       <div class="card">
          <div class="header">
              <h4><strong style='padding-left: 20em'>Listado Tipo de Documentos</strong> </h4>
          </div>
          <div class="body">
              <div class="table-responsive">
                  <table class="table table-hover m-b-0 c_list">
                      <thead style='padding-left: 20em'>
                          <tr>
                              <th width="320">Descripción</th>
                              <th style='padding-left: 20em'>Cuenta Contable</th>

                              <th style="width: 100px;">Action</th>
                          </tr>
                      </thead>
                          <tbody>
                          <tr>
                              <td >Bladimir debe un millon</td>
                              <td style='padding-left: 20em'>
                                456987123
                              </td>

                              <td>
                                  <button type="button" class="btn btn-info btn-sm" title="Edit"><i class="zmdi zmdi-edit"></i></button>
                                  <button type="button" data-type="confirm" class="btn btn-danger js-sweetalert btn-sm" title="Delete"><i class="zmdi zmdi-delete"></i></button>
                              </td>
                          </tr>
                          <tr>
                              <td >Por favor pasar a pagar Sr.Bladimir</td>
                              <td style='padding-left: 20em'>
                                456987123
                              </td>

                              <td>
                                  <button type="button" class="btn btn-info btn-sm" title="Edit"><i class="zmdi zmdi-edit"></i></button>
                                  <button type="button" data-type="confirm" class="btn btn-danger js-sweetalert btn-sm" title="Delete"><i class="zmdi zmdi-delete"></i></button>
                              </td>
                          </tr>
                          <tr>
                              <td >Sr.Bladimir usted va a caer en cicla</td>
                              <td style='padding-left: 20em'>
                                456987123
                              </td>

                              <td>
                                  <button type="button" class="btn btn-info btn-sm" title="Edit"><i class="zmdi zmdi-edit"></i></button>
                                  <button type="button" data-type="confirm" class="btn btn-danger js-sweetalert btn-sm" title="Delete"><i class="zmdi zmdi-delete"></i></button>
                              </td>
                          </tr>
                          <tr>
                              <td >Ultimo aviso Sr.Bladimir</td>
                              <td style='padding-left: 20em'>
                                  456987123
                              </td>

                              <td>
                                  <button type="button" class="btn btn-info btn-sm" title="Edit"><i class="zmdi zmdi-edit"></i></button>
                                  <button type="button" data-type="confirm" class="btn btn-danger js-sweetalert btn-sm" title="Delete"><i class="zmdi zmdi-delete"></i></button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
       </div>



